/* .block1.block2{
    height: 150px;
    width: 100%;
    text-align: center;
} */                     
/*             почему это не работает ? */

.block1{
    background-color: tomato;
    height: 150px;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1:active{
    color: white;
    text-shadow: 5px 5px 5px #000000;
}
.block1::selection {
    background: transparent;
}
.block2{
    background-color: teal;
    height: 150px;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block2:active{
    color: white;
    text-shadow: 5px 5px 5px #000000;
}
.block2::selection {
    background: transparent;
}
.block3{
    background-color: turquoise;
    height: 150px;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3:active{
    color: white;
    text-shadow: 5px 5px 5px #000000;
}
.block3::selection {
    background: transparent;
}
.block4{
    background-color: yellowgreen;
    height: 150px;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block4:active{
    color: white;
    text-shadow: 5px 5px 5px #000000;
}
.block4::selection {
    background: transparent;
}
