.content {
    grid-area: article;
  
    font-size: 1em;
    padding: 1em 10em;
    text-align: start;
    background-color: royalblue;
}

.gridIn { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2vw;
}
  
.gridIn > div {
    font-size: 5vw;
    padding: .1em;
    
    text-align: center;
}

.cWhite {
    background-color: rgb(131, 53, 53);
}
.cWhite.cGrey {
    background-color: whitesmoke;
}