.usersWrap {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

.userItem {
    display: flex;
    justify-content: center;
}

.userAvatarWrap img {
    max-width: 100%;
    width: 100px;
}

.userWrap {
    padding-top: 2em;
    width: max-content;
    text-align: center;
}

.paginationWrap {
    margin: 3em 0 2em 0;
    display: flex;
    justify-content: center;
}